.RaporBlok {
    display: block;
}

    .RaporBlok > .RaporSatirDiv {
        display: inline-block;
        margin-bottom: 15px;
    }
/*GRİD KIRMIZI BAŞLANĞIÇ*/
.GridRaporKirmizi {
    display: inline-block;
    width: 100% !important;
}


    .GridRaporKirmizi .dxgvTable {
        color: #000 !important;
    }


    .GridRaporKirmizi .dxgvHeader {
        background-color: #9b0500;
        color: #fff !important;
    }

        .GridRaporKirmizi .dxgvHeader table {
            background-color: transparent;
            color: #fff !important;
        }

    .GridRaporKirmizi .dxgvDataRow {
        background-color: #dcdcdc;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
    }

    .GridRaporKirmizi .dxgvDataRowAlt {
        background-color: #c8c8c8;
    }

    .GridRaporKirmizi .dxgvDataRowHover {
        background-color: #ff635e !important;
        color: #fff;
    }

    .GridRaporKirmizi .dxgvSelectedRow {
        background-color: #750502 !important;
        color: #fff;
        height: 30px;
    }

/*GRİD KIRMIZI BİTİŞ*/




/*GRİD MAVİ BAŞLANĞIÇ*/

.RaporBlok > .RaporSatirDiv span, .RaporBlok span {
    color: #0038aa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px !important;
    padding: 5px !important;
    margin-bottom: -5px;
}

.GridRaporMavi {
    display: inline-block;
    width: 100% !important;
    border:1px solid #cadef8;
}


    .GridRaporMavi .dxgvTable {
        color: #000 !important;

    }


    .GridRaporMavi .dxgvHeader {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d5e6fc', EndColorStr='#83ace8');
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d5e6fc), color-stop(1, #83ace8));
        background-image: -webkit-linear-gradient(top, #d5e6fc 0%, #83ace8 100%);
        background-image: -moz-linear-gradient(top, #d5e6fc 0%, #83ace8 100%);
        background-image: -ms-linear-gradient(top, #d5e6fc 0%, #83ace8 100%);
        background-image: -o-linear-gradient(top, #d5e6fc 0%, #83ace8 100%);
        background-image: linear-gradient(top, #d5e6fc 0%, #83ace8 100%);
        color: #fff !important;
        min-height: 50px !important;
    }

        .GridRaporMavi .dxgvHeader table {
            background-color: transparent;
            color: #000 !important;
            min-height: 20px !important;
            
        }

    .GridRaporMavi .dxgvDataRow {
        background-color: #f5f5f5;
        height: 30px;
        font-size: 12px;
        font-weight: 400;
    }

    .GridRaporMavi .dxgvDataRowAlt {
        background-color: #fff !important;
        
    }

    .GridRaporMavi .dxgvDataRowHover {
        background-color: #ffcc66 !important;
        color: #000;
        font-weight:400 !important;
    }

    .GridRaporMavi .dxgvSelectedRow {
        background-color: #ffcc66 !important;
        color: #000;
        height: 30px;
    }

/*GRİD MAVİ BİTİŞ*/







.RaporBlok > .RaporSatirDiv .Chart {
    display: inline-block;
    width: 100% !important;
}

    .RaporBlok > .RaporSatirDiv .Chart img {
        width: 990px !important;
        height: auto;
    }


.RaporBlok > div:first-child > span {
    color: #0038aa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 5px !important;
    margin-bottom: -5px;
}

.RaporTable {
    width: 100%;
    margin-bottom: 10px;
}

    .RaporTable tr {
        background-color: #f6f6f6;
    }

        .RaporTable tr:nth-child(2n+1) {
            background-color: #f2f2f2;
        }

        .RaporTable tr:hover {
            color: #000;
        }

        .RaporTable tr td {
            padding: 5px;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
        }














.BilgiGrid {
    padding: 10px;
    width: 100% !important;
    border: 0 !important;
}

    .BilgiGrid > tbody > tr:first-child {
        background-color: #838383 !important;
        color: #000;
        border: 0 !important;
        height: 40px;
        padding: 10px 10px 10px 10px !important;
        font-family: Arial;
        font-size: 12px;
    }

        .BilgiGrid > tbody > tr:first-child > th {
            border: 0 !important;
        }

            .BilgiGrid > tbody > tr:first-child > th:first-child {
                padding-left: 10px;
                font-size: 16px;
            }

        .BilgiGrid > tbody > tr:first-child:hover {
            background-color: #838383 !important;
        }





    .BilgiGrid > tbody > tr {
        background-color: #e9e8e8 !important;
        color: #fff;
        border: 0 !important;
        font-family: Arial;
        font-size: 12px;
        height: 25px;
    }

        .BilgiGrid > tbody > tr:nth-child(2n+1) {
            background-color: #d7d5d5 !important;
        }

        .BilgiGrid > tbody > tr > td {
            border-bottom: 1px solid #fff;
        }

        .BilgiGrid > tbody > tr:hover {
            background-color: #cbdcf7 !important;
        }

        .BilgiGrid > tbody > tr > td:first-child {
            margin-left: 10px;
        }

            .BilgiGrid > tbody > tr > td:first-child b a {
                text-decoration: none;
                color: #0d5fc3;
                margin-left: 5px;
            }


        .BilgiGrid > tbody > tr > td:last-child {
            color: #000;
            border: 1px solid #fff;
        }

        .BilgiGrid > tbody > tr:last-child {
            background-color: #f2f1f1 !important;
            height: 40px;
        }

            .BilgiGrid > tbody > tr:last-child table {
                margin-left: 10px !important;
            }

            .BilgiGrid > tbody > tr:last-child > table td span {
                display: block;
                width: 20px;
                height: 20px;
                padding-left: -10px;
                color: #9b0500;
            }

            .BilgiGrid > tbody > tr:last-child table td {
                display: block;
                float: left;
                text-align: center;
                line-height: 20px;
                margin-right: 5px;
            }

                .BilgiGrid > tbody > tr:last-child table td a, .BilgiGrid > tbody > tr:last-child table td span {
                    display: block;
                    text-decoration: none !important;
                    width: 20px;
                    height: 20px;
                    background-color: #d8d8d8;
                    text-align: center;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    color: #000;
                }

                .BilgiGrid > tbody > tr:last-child table td span {
                    background-color: #9b0500;
                    color: #fff;
                }

.Baslik {
    display: block;
    padding: 10px;
    font-family: 'OpenSans',sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.Raporleft i {
    font-size: 16px;
    padding: 5px;
    font-weight: normal;
    color: #9b0500;
}

    .Raporleft i::after {
        content: 'Geri';
    }



    .RaporTopTable {
        display: table; width:965px;  padding:10px;
    }

    .RaporTopTable > div > div {
        display: block !important;
        padding: 5px 0 5px 5px;
        font-family: Arial;
        font-size: 13px;
        margin-bottom: 2px;
        margin-left: 2px;
        font-weight: bold;
    }

    .RaporTopTable > div > div:nth-child(2n+1) {
        background-color: #f3f3f3;
    }

        .RaporTopTable > div > div:nth-child(2n+2) {
        background-color: #f8f8f8;
    }