
<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <title>Hoşgeldiniz!</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
<div >
        <center><h1>----------------DUYURULAR----------------  </h1></center>
        <hr><hr>
        
</div>

<table>
    <tr>
        <td><a href="/">ANASAYFA</a></td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Yayınlar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre yayın dağılımı">Kurumun yıllara göre yayın dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre yayın dağılımı">Birimlerin yıllara göre yayın dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre yayın dağılımı">Birimlerin türlere göre yayın dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Projeler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre proje dağılımı">Kurumun yıllara göre proje dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre proje dağılımı">Birimlerin yıllara göre proje dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre proje dağılımı">Birimlerin türlere göre proje dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Faliyetler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre faliyet dağılımı">Kurumun yıllara göre faliyet dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre faliyet dağılımı">Birimlerin yıllara göre faliyet dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre faliyet dağılımı">Birimlerin türlere göre faliyet dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Etkinlikler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre etkinlik dağılımı">Kurumun yıllara göre etkinlik dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre etkinlik dağılımı">Birimlerin yıllara göre etkinlik dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Atıflar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre atıf dağılımı">Kurumun yıllara göre atıf dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre atıf dağılımı">Birimlerin yıllara göre atıf dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Patentler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre patent dağılımı">Kurumun yıllara göre patent dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre patent dağılımı">Birimlerin yıllara göre patent dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre patent dağılımı">Birimlerin türlere göre patent dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ödüller
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre ödül dağılımı">Kurumun yıllara göre ödül dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre ödül dağılımı">Birimlerin yıllara göre ödül dağılımı</a>
            </div>
            </div>
        </td>
        <td><a href="/giris/">Akademisyen Girişi</a></td>
    </tr>
</table>


{% if patentler %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Birim   \   Yıl</th>
                {% for yil in yils %}
                        <th scope="col" >{{yil}}</th>   
                {% endfor %}
            </tr>
        </thead>
            
        <tbody>
            <tr >
                {% for birim in birim1 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim2 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim3 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim4 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim5 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim6 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim7 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim8 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim9 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim10 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
                {% for birim in birim11 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim12 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim13 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim14 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim15 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim16 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim17 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim18 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim19 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim20 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for birim in birim21 %}
                <td>{{birim}}</td>
                {% endfor %}
            </tr>
            <tr >
                {% for yill in tyil %}
                    <td>{{yill}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

{% else %}
    <div class="alert alert-danger">Kayıt bulunamadı!</div>
{% endif %}




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>