
<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <title>Hoşgeldiniz!</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
<div >
        <center><h1>----------------DUYURULAR----------------  </h1></center>
        <hr><hr>
        
</div>


<table>
    <tr>
        <td><a href="/">ANASAYFA</a></td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Yayınlar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre yayın dağılımı">Kurumun yıllara göre yayın dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre yayın dağılımı">Birimlerin yıllara göre yayın dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre yayın dağılımı">Birimlerin türlere göre yayın dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Projeler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre proje dağılımı">Kurumun yıllara göre proje dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre proje dağılımı">Birimlerin yıllara göre proje dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre proje dağılımı">Birimlerin türlere göre proje dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Faliyetler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre faliyet dağılımı">Kurumun yıllara göre faliyet dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre faliyet dağılımı">Birimlerin yıllara göre faliyet dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre faliyet dağılımı">Birimlerin türlere göre faliyet dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bilimsel Etkinlikler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre etkinlik dağılımı">Kurumun yıllara göre etkinlik dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre etkinlik dağılımı">Birimlerin yıllara göre etkinlik dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Atıflar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre atıf dağılımı">Kurumun yıllara göre atıf dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre atıf dağılımı">Birimlerin yıllara göre atıf dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Patentler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre patent dağılımı">Kurumun yıllara göre patent dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre patent dağılımı">Birimlerin yıllara göre patent dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin türlere göre patent dağılımı">Birimlerin türlere göre patent dağılımı</a>
            </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ödüller
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Kurumun yıllara göre ödül dağılımı">Kurumun yıllara göre ödül dağılımı</a>
                <a class="dropdown-item" href="/Birimlerin yıllara göre ödül dağılımı">Birimlerin yıllara göre ödül dağılımı</a>
            </div>
            </div>
        </td>
        <td><a href="/giris/">Akademisyen Girişi</a></td>
    </tr>
</table>


{% if projeler %}

<center><h1>Kurumun yıllara göre proje dağılımı:</h1></center>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">YIL</th>
                <th scope="col">TÜBİTAK Projesi</th>
                <th scope="col">Sanayi Tezleri Araştırma Projesi</th>
                <th scope="col">Kalkınma Bakanlığı Destekli Proje</th>
                <th scope="col">BAP Destekli Araştırma Projesi</th>
                <th scope="col">Diğer Ulusal Kurumlarca Desteklenen Projeler</th>
                <th scope="col">Avrupa Birliği Çerçeve Projesi</th>
                <th scope="col">Avrupa Birliği Destekli Diğer Projesi</th>
                <th scope="col">Uluslararası Kurumlarca Bilimsel Araştırma Projesi</th>
                <th scope="col">Diğer</th>
                <th scope="col">Toplam</th>
            </tr>
        </thead>
            
        <tbody>
            <tr>
            <td>
                <table>
                        {% for yıl in yıls %}
                            <tr scope="row">
                                <th >{{yıl}}</th>   
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for tubitak in tubitaks %}
                            <tr scope="col">
                                <td >{{tubitak}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for sanayi in sanayis %}
                            <tr scope="row">
                                <td >{{sanayi}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for kalkınma in kalkınmas %}
                            <tr scope="row">
                                <td >{{kalkınma}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for bap in baps %}
                            <tr scope="row">
                                <td >{{bap}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    <thead>
                        {% for dgrulusal in digerulusals %}
                            <tr scope="row">
                                <td >{{dgrulusal}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for abc in abcs %}
                            <tr scope="row">
                                <td >{{abc}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for abd in abds %}
                            <tr scope="row">
                                <td >{{abd}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for uluslararası in uluslararasıs %}
                            <tr scope="row">
                                <td >{{uluslararası}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for diger in digers %}
                            <tr scope="row">
                                <td >{{diger}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                        {% for toplam in toplams %}
                            <tr scope="row">
                                <td >{{toplam}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
        </tr>
        </tbody>
        </table>

        {% else %}
            <div class="alert alert-danger">Kayıt bulunamadı!</div>
        {% endif %}




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>